<div>
        <h1><strong> List of all articles</strong></h1>
        <% @posts.each do |post| %>
        <div> <p>Post:</p><%= post.id%> </div>
            <p><strong>Title:</strong></p>
            <%= post.title %>
            <p><strong>Body:<strong></p>
            <%= post.body %>
            <%= button_to "Show Post", post_path(post), method: :get%>
        <% end %>
        <%= button_to "Create New Post", new_post_path, method: :get %>
</div>