<div>
    <div>
        <h1>Create a new post</h1>
    </div>

    <div>
        <%= form_with model: @post do |form| %>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>
    
        <div>
            <%= form.label :body %>
            <%= form.text_area :body, size: "70x5" %>
        </div>
    
        <div>
            <%= form.submit "Create Post" %>
        </div>
        <% end %>
    </div>

    <div>
        <%= button_to "Back to Home Page", posts_path, method: :get %>
    </div>
</div>
