<div>
    <% if @post.errors.any?%>
        <%= pluralize(@post.errors.count, "error")%>
        <% @post.errors.full_messages.each do |message|%>
            <%= message %>
        <% end %>
    <% end %>
    <div>
        <h1>Create a new post</h1>
    </div>
    <div>
        <%= form_with model: @post do |form| %>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>
    
        <div>
            <%= form.label :body %>
            <%= form.text_area :body, size: "70x5" %>
        </div>
        <div>
            <%= form.label :image %>
            <%= form.file_field :image %>
        </div>
        <div>
            <%= form.collection_select(:post,:category_id, Category.all, :id, prompt: true)%>
        </div>
        <div>
            <%= form.submit %>
        </div>
        <% end %>
    </div>

    <div>
        <%= button_to "Back to Home Page", posts_path, method: :get %>
    </div>
</div>
