<div><h1><strong>Individual post content<strong></h1></div>
    <div>
        <p><strong>Title:</strong></p>
        <%= @post.title %>
    </div>
    
    <div>
        <p><strong>Body:</strong></p>
        <%= @post.body%>
    </div>
    <div>
        <% if @post.image.attached? %>
            <p><strong>Attached Image:</strong></p>
            <%= image_tag(@post.image) %>
        <% end %>
    </div>

    <div>
        <h1>Comments for Post:</h1>
        <% @post.comments.each do |comment| %>
            <%= comment.body %>
        <% end %>
    </div>

    <div>
        <h1>Write a comment about this Post:</h1>
        <%= form_with(model: [@post, @comment], url: post_comments_path(@post), method: :post) do |form| %>
            <%= form.label :body %>
            <%= form.text_area :body %>
            <%= form.submit "Create comment about this post" %>
        <% end %>
    </div>
<%= button_to "Edit Post", edit_post_path(@post), method: :get %>
<%= button_to "Delete Post", post_path(@post), method: :delete %>
<%= button_to "Back to home page", posts_path ,method: :get %>