<div><h1><strong>Individual post content<strong></h1></div>
    <div>
        <p><strong>Title:</strong></p>
        <%= @post.title %>
    </div>
    
    <div>
        <p><strong>Body:</strong></p>
        <%= @post.body%>
    </div>
<%= button_to "Edit Post", edit_post_path(@post), method: :get%>
<%= button_to "Delete Post", post_path(@post), method: :delete%>
<%= button_to "Back to home page", posts_path ,method: :get%>